{% extends 'layouts/base_home.html' %}
{% load crispy_forms_tags %}

{% block in_content %}
    <h1>{{ title }}</h1>
    <form method="post" action="{% url 'contact' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button style="margin-top: 20px; margin-bottom: 20px" type="submit" class="btn btn-outline-success">Submit
        </button>
    </form>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.0300864202713!2d85.34223307487747!3d27.685464976195163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb198d99470043%3A0x167d008efb47d64c!2sBroadway%20Infosys!5e0!3m2!1sen!2snp!4v1690680829583!5m2!1sen!2snp" width="600" height="450" style="border:0; width: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}